<mat-card class="about-card">
    <mat-card-header>
      <div mat-card-avatar class="app-icon">
        <mat-icon color="primary">pets</mat-icon>
      </div>
      <mat-card-title>À propos de l'application</mat-card-title>
      <mat-card-subtitle>Gestion des observations d'animaux</mat-card-subtitle>
    </mat-card-header>
  
    <mat-divider></mat-divider>
  
    <mat-card-content>
      <p class="description">
        Cette application permet de gérer des observations d’animaux dans un cadre naturaliste.
        Elle inclut une base de données des espèces et un système d’authentification pour les utilisateurs.
      </p>
  
      <mat-divider class="my-divider"></mat-divider>
  
      <h2 class="subtitle">Concepteurs</h2>
      <mat-list>
        <mat-list-item><mat-icon matListIcon color="accent">person</mat-icon>MANAR Nada</mat-list-item>
        <mat-list-item><mat-icon matListIcon color="accent">person</mat-icon>OKBA Salma</mat-list-item>
        <mat-list-item><mat-icon matListIcon color="accent">person</mat-icon>MAZER Hibat Allah</mat-list-item>
        <mat-list-item><mat-icon matListIcon color="accent">person</mat-icon>ZENASNI Amina</mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
  